<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="projectSettings" type="TimeFillets.Model.ProjectSettingsConfigurationSectionHandler, TimeFillets.Model"/>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <projectSettings>
    <variablePattern>[\w+\ \.\,\-\+\:\d]+</variablePattern>
    <separator>:</separator>
    <pattern>{0}{2}{4}{3}{1}</pattern>
    <leftBracket>{</leftBracket>
    <rightBracket>}</rightBracket>
    <customerSign>customer</customerSign>
    <projectSign>project</projectSign>
    <taskSign>task</taskSign>
  </projectSettings>
  <appSettings>
    <add key="ExcelTemplatePath" value="\\SoulFilets\\TimeFillets\\TimesheetTemplate.xlsx"/>
    <add key="ProjectDefinitionPath" value="\\SoulFilets\\TimeFillets\\ProjectsDefinitions.xml"/>
  </appSettings>
</configuration>
